:root {
  --background: #f5f5f5;
  --text: #333;
  --orange-50: 255 247 237;
  --orange-100: 255 237 213;
  --orange-200: 254 215 170;
  --orange-300: 253 186 116;
  --orange-400: 251 146 60;
  --orange-500: 249 115 22;
  --orange-600: 234 88 12;
  --orange-700: 194 65 12;
  --orange-800: 154 52 18;
  --orange-900: 124 45 18;
}

.dark {
  --background: #111;
  --text: #eee;
  --orange-50: 255 247 237;
  --orange-100: 255 237 213;
  --orange-200: 254 215 170;
  --orange-300: 253 186 116;
  --orange-400: 251 146 60;
  --orange-500: 249 115 22;
  --orange-600: 234 88 12;
  --orange-700: 194 65 12;
  --orange-800: 154 52 18;
  --orange-900: 124 45 18;
}

